<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Ficha</title>

   <link rel="stylesheet" type="text/css" href="/ext-3.0.3/resources/css/ext-all.css" />

 <script type="text/javascript" src="/ext-3.0.3/adapter/ext/ext-base.js"></script>
 <script type="text/javascript" src="/ext-3.0.3/ext-all.js"></script>

 <script type="text/javascript" src="/ext-3.0.3/binding.js"></script>
<style type="text/css">
  body {
  padding: 15px;
  }
  .x-panel-mc {
  font-size: 12px;
  line-height: 18px;
  }

  .add24 {
  background-image: url(/ext-3.0.3/resources/images/add24.gif) !important;
  }

  .add {
  background-image: url(/ext-3.0.3/resources/images/add.gif) !important;
  }


</style>


</head>

<body>

<div id="areadata">

</div>

</body>

</html>
