<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sistema de Carga de datos Deudores</title>
<link rel="stylesheet" href="http://www.w3.org/StyleSheets/Core/Traditional" type="text/css"/>
</head>


<body class="login">
<h1> Sistema de Carga de datos Deudores</h1>
<br/>
<div id="bienvenida">
  Ingrese el archivo para realizar la carga de datos
<br/>
<form method="post" action="/deudor/cargarDatos" enctype="multipart/form-data" >
  Archivo: <input id="filname" type="file" name="filename" />
 <br />
 <input type="submit" value="Enviar" class="submit"/>

</form>

</div>

</body>

