<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sistema de Deudores</title>

</head>


<body class="login">
<h1> Deudor <h1> <h2>Sistema para administrar deudas</h2>
<br/>
<div id="bienvenida">
  Ingrese su nombre de usuario y clave para acceder al sistema.
<br/>
<form method="post" action=".">
 Usuario: <input id="id_username" type="text" name="username" />
 <br />
 Clave: <input type="password" name="password" id="id_password" />
 <br />
 <input type="submit" value="Enviar" class="submit"/>
 <input type="hidden" name="next" value="/deudor/ficha" />
 

</form>

</div>

</body>

